table, th, td {
    border: 3px solid rgb(207, 30, 30);
    padding: 5px;
    text-align: center;
    font-family: Verdana;
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
  }
  tr {
    background-color: rgb(165, 182, 229);
    box-shadow: 0px 2px 2px black;
    -moz-box-shadow: 0px 2px 2px black;
    -webkit-box-shadow: 0px 2px 2px black;
  }
  input[type="submit"]{
    height: 25px;
    padding: 5px 10px;
    background: #e7e7e793;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 10px;
  }
